<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Welcome to the MNTHS Key Club sign in page!</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-secondary">log in</button>
            <button type="submit" class="btn btn-tertiary">Create an account</button>
          <label for="reason_dropdown">Why are you on this site?</label>
          <select class="form-control" name="reason_dropdown" id="reason_dropdown">
            <option>I am a member</option>
            <option>I am just curious</option>
            <option>I am an officer</option>
          </select>
        </div>
        <div class="form-group">
          <label for="officer_select">What kind of officer are you?</label>
          <select multiple class="form-control" name="officer_select" id="officer_select">
            <option>I am the President</option>
            <option>I am the Vice president</option>
            <option>I am the Secretary</option>
            <option>I am the Treasurer</option>
            <option>I am the LTG</option>
            <option>I am the Teacher, Sponsor</option>
          </select>
        </div>
        <div class="form-group">
          <label for="user_name">User Name</label>
          <input type="text" class="form-control" name="user_name"  id="user_name" placeholder="Fred Flintstone">
        </div>
        <div class="form-group">
          <label for="account_dropdown">Do you have an existing account with us?</label>
          <select class="form-control" name="account_dropdown" id="account_dropdown">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

